spring.application.name=snack
server.port=8080
server.address=0.0.0.0
server.forward-headers-strategy=framework
server.tomcat.remoteip.host-header=x-forwarded-host
spring.jpa.hibernate.ddl-auto=validate
spring.sql.init.mode=always
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
springdoc.api-docs.enabled=false
# AWS credentials
spring.cloud.aws.region.static=
spring.cloud.aws.credentials.access-key=
spring.cloud.aws.credentials.secret-key=
# AWS cognito Oauth2 credentials
spring.security.oauth2.client.registration.cognito.clientId=
spring.security.oauth2.client.registration.cognito.clientSecret=
spring.security.oauth2.client.registration.cognito.scope=
spring.security.oauth2.client.registration.cognito.redirect-uri=
spring.security.oauth2.client.registration.cognito.clientName=
spring.security.oauth2.client.provider.cognito.issuerUri=
# AWS S3 config
aws-s3-bucket=
# AWS CloudFront config
aws-cloudfront-domain=